body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 495px;
}

header.beatzheader {
  display: flex;
  justify-content: center;
  margin-bottom: 100px; 
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: black;
}

div {
  margin-bottom: 15px;
}

input[type="email"],
input[type="password"],
button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

input[type="email"],
input[type="password"] {
  background-color: #e0e0e0;
  color: black;
  outline: none;
  border: 1px solid #ccc;
}

button {
  background-color: #6e54ff;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: grey;
}

.forgetpassword a {
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.forgetpassword a:hover {
  text-decoration: underline;
}

.signup p {
  font-size: 14px;
}

.signup button {
  background-color: white;
  color: grey;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 8px;
}

.signup button:hover {
  background-color: #e0e0e0;
}

.facebook {
  background-color: #1877f2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.facebook:hover {
  background-color: #165dd8;
}

.apple {
  background-color: #000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.apple:hover {
  opacity: 0.9;
}

.google {
  background-color: white;
  color: grey;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.google:hover {
  background-color: #e0e0e0;
}
