.facebook {
  background-color: #1877f2;
  color: white;
  border: none;
}

.logo-facebook {
  width: 20px;
  height: auto;
}

.google {
  background-color: white;
  color: grey;
  border: 1px solid #ccc;
}

.logo-google {
  width: 20px;
  height: auto;
}

.button-text {
  position: relative;
  top: 1px;
}

@media (max-height: 834px) {
  .logo-facebook,
  .logo-google {
    width: 16px;
  }
}